<% if @for && current_user.admin? %>
  <p id="admin-renew">
    Renewing subscription to <%= link_to(@subscription.publication.try(:name), admin_catalogue_publication_path(@subscription.publication)) %> for <%= link_to(@user.name, admin_subscriber_path(@user)) %><br/>
    Offer: <%= select_tag('select_offer_id', options_for_select(@offers.map { |o| [ o.name, o.id ] }, @offer.id)) %>
  </p>
  <hr/>
<% end %>


<div class='section' id='step1'>
  <%= image_tag(template_image_path('step1.png'), :class => 'step', :alt => 'step 1')%>
  <div class='content'>

    <% if @renewing %>
      <h2>Choose your Renewal</h2>
    <% else %>
      <h2 class="step">Choose your Offer</h2>
    <% end %>

    <h3><%= h(@offer.publication.try(:name)) %></h3>
    <p class='subscription-description'><%= h(@offer.publication.description) %></p>

    <!-- Error Messages -->
    <div id="form-errors">
    <%= error_messages(@errors) %>
    <% unless flash[:error].blank? %>
      <div id="flash"><%= flash[:error] %></div>
    <% end %>
    </div> <!-- closes #form-errors -->
    
    <ul id='subscription-tabs'>
      <li id="subscriptions-tab" class='<%= "active" if @tab == 'subscriptions' || @tab.blank? %>'>
        <%= link_to("SUBSCRIPTION", tab_path('subscriptions')) %>
      </li>
      <% unless @offer.offer_terms.concession.blank? %>
        <li id="students-tab" class='<%= "active" if @tab == 'students' %>'>
          <%= link_to("EDUCATION", tab_path('students')) %>
        </li>
        <li id="concessions-tab" class='<%= "active" if @tab == 'concessions' %>'>
          <%= link_to("NOT FOR PROFIT", tab_path('concessions')) %>
        </li> 
        <!-- <li id="groups-tab" class='<%= "active" if @tab == 'groups' %> last'>
          <%= link_to("GROUP", tab_path('groups')) %>
        </li> -->
      <% end %>
    </ul>
    <div class="clear"></div>

    <%= render :partial => "subscribe/#{@tab}" %>
   
  </div>
  <div class='clear'></div>
</div> <!-- Step 1 -->


<div class='section' id='step2'>
  <%= image_tag(template_image_path('step2.png'), :class => 'step', :alt => 'step 2')%>
  <div class="content">
    <%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), paypal_express_path, :id => "btnSubmit" %>
  </div>

  <div class='clear'></div>
</div> <!-- Step 2 -->
