<% form_for @subscription, :url => subscribe_path(:offer_id => @offer.id, :source_id => @source.try(:id)), :builder => SubscribeFormBuilder do |f| %>

  <div class='section' id='step1'>
    <img src="/images/step1.png" class='step' alt='step 1' />
    <div class='content'>

      <h2>Subscribe to Crikey</h2>

      <h3><%= h(@offer.publication.try(:name)) %></h3>
      <p class='subscription-description'><%= h(@offer.publication.description) %></p>

      <!-- Error Messages -->
      <div id="form-errors">
			<%= error_messages(@errors) %>
      <% unless flash[:error].blank? %>
        <div id="flash"><%= flash[:error] %></div>
      <% end %>
			</div> <!-- closes #form-errors -->
			
      <ul id='subscription-tabs'>
        <li class='<%= "active" if @tab == 'subscriptions' || @tab.blank? %>'>
          <%= link_to("SUBSCRIPTIONS", tab_path('subscriptions')) %>
        </li>
        <% unless @offer.offer_terms.concession.blank? %>
          <li class='<%= "active" if @tab == 'students' %>'>
            <%= link_to("STUDENTS", tab_path('students')) %>
          </li>
          <li class='<%= "active" if @tab == 'concessions' %>'>
            <%= link_to("SENIOR / CONCESSIONS", tab_path('concessions')) %>
          </li>	
          <li class='<%= "active" if @tab == 'groups' %> last'>
            <%= link_to("DISCOUNT GROUP", tab_path('groups')) %>
          </li>
        <% end %>
      </ul>
      <div class="clear"></div>

      <%= render :partial => "subscribe/#{@tab}" %>
     
    </div>
    <div class='clear'></div>
  </div> <!-- Step 1 -->

  <div class='section' id='step2'>
    <img src="/images/step2.png" class='step' alt='step 2'   />
    <div class='content'>	
      <h2>Your Details</h2>

      <div id='login-choice'>
        <input type='radio' id='rdoLogin' name='login' /><label for='rdoLogin'>Existing User Login</label>
        <input type='radio' id='rdoNew' name='login' /><label for='rdoNew'>New User Sign-Up</label>
      </div>

      <div id='section-new'>
        <% f.fields_for :user do |u| %>
          <%= u.select :title, %w(Mr Mrs Ms Miss) %>
          <%= u.text_field :firstname, :required => true, :label => "First Name" %>
          <%= u.text_field :lastname, :required => true, :label => "Last Name" %>
          <%= u.text_field :email, :help => "This is the email address Crikey will be sent to", :required => true %>
          <%= u.text_field :email_confirmation, :required => true %>
          <%= u.text_field :phone_number, :help => "If there are problems with email delivery this is how we contact you", :required => true %>
          <%= u.text_field :company %>
          <%= u.text_field :address_1, :label => "Street Address Line 1", :required => true %>
          <%= u.text_field :address_2, :label => "Street Address Line 2" %>
          <%= u.text_field :city, :required => true %>
          <%= u.enum_select :state, :required => true %>
          <%= u.text_field :postcode, :required => true %>
          <%= u.country_select :country, ['Australia'], :required => true %>
          <%= u.password_field :password, :required => true %>
          <%= u.password_field :password_confirmation, :required => true %>
        <% end %>
      </div>
    </div>

    <div id='section-login' style="display:none;">
      <div class='form-row'>					
        <label for='username' >Username:<span class='mandatory'>*</span></label>
        <input type='text' id='username' />
      </div>
      <div class='form-row'>	
        <label for='password'>Password:<span class='mandatory'>*</span></label>
        <input type='password' id='password' />
      </div>
  
      <input id='btnLogin' type='image' src='images/login.png' alt='Login' onclick='simulateLogIn();return false;' />
    
      <div class='form-row'>	
        <a href='#'>Forgot your password?</a>
      </div>
      <div class='clear'></div>
    </div>

    <div class='clear'></div>
  </div> <!-- Step 2 -->

  <div class='section' id='step3'>
    <img src="/images/step3.png"  class='step' alt='step 3' />
    <div class='content'>			
  		<div id='payment' class='form-section'>
			  <h2>Choose your Payment method</h2>

			  <img id='securepay' src="/images/securepay.png" alt="Powered by Secure Pay" />
				<div id='payment-options'>
    			<input type='radio' name='rdoPaymentOptions' id='rdoPaymentOptions1' />
          <label for='rdoPaymentOptions1' >
            Credit Card
          </label>
          
        
          <input type='radio' name='rdoPaymentOptions' id='rdoPaymentOptions2' />
          <label for='rdoPaymentOptions2' >
            Direct Debit
          </label>									
          
          <label for='rdoPaymentOptions1' >
            <img src='/images/cc.png' alt='Credit Cards' />		
          </label>

        </div>


        <div id='payment-details'>
          <h4>Credit Card Details</h4>
          
          <% fields_for :payment, @payment, :builder => SubscribeFormBuilder do |p| %>
            <%= p.text_field :full_name, :required => true, :label => "Name on Card" %>
            <%= p.text_field :card_number, :required => true, :help => "e.g. 0000123455677675" %>
            <%= p.date_select :card_expiry_date, :discard_day => true, :start_year => Time.now.year, :label => "Expiry", :required => true %>
            <%= p.text_field :card_verification, :class => "smallText", :required => true, :label => "Card Verification (CVV Number)" %>
          <% end %>

					<div id='terms'>
            <%= f.check_box :terms, :label => "I agree to the Crikey " %>
            <%= link_to('Terms and Conditions', "http://www.crikey.com.au/about/terms-conditions/", :target => '_blank') %>
          </div>

        	<div id='bottom-right'>
            <p class='phone'>
              1800 985 502
            </p>
          </div>
							
          <%= image_submit_tag "/images/nextstep.png", :disable_with => "Processing...", :id => "btnSubmit" %>
				  <div class='clear'></div>
        </div>

      </div>
    </div>
    <div class='clear'></div>
  </div> <!-- Step 3 -->
  

<% end %>
