<h1>Offer</h1>

<h2><%= @offer.publication.name %></h2>
<p><%= @offer.publication.description %></p>

<% form_for @subscription, :url => { :action => :offer }, :builder => Reform::Builder, :html => { :class => "form", :method => 'post' } do |f| %>
  <%= f.hidden_field :offer_id %>

  <h4>Subscription</h4>
  <% if @offer.offer_terms.size > 1 %>
    <table>
      <% @offer.offer_terms.each_with_index do |ot, i| %>
        <tr>
          <td>
            <%= radio_button_tag "offer_term", ot.id, (i == 0) %>
            <label for="">Offer <%= i + 1 %>: <%= pluralize(ot.months, 'month') %></label>
          </td>
          <td><%= number_to_currency(ot.price) %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p><%= describe_offer_term(@offer.try(:offer_terms).try(:first)) %></p>
  <% end %>

  <!-- Gifts -->

  <% f.fields_for :subscription_gifts do |sg| %>
    <% unless @offer.gifts.included.blank? %>
      <h4>Subscribe and Receive</h4>
      <%= render :partial => "included_gift", :collection => @included_gifts, :locals => { :f => sg } %>
    <% end %>
    <% if @optional_gifts.size == 1 %>
      <%= render :partial => "included_gift", :object => @optional_gifts.first, :locals => { :f => sg } %>
    <% end %>
    <% if @offer.gifts.optional.size > 1 %>
      <% if @offer.gifts.included.empty? %>
        <h4>Choose a free gift!</h4>
      <% else %>
        <h4>Plus, choose one of the following:</h4>
      <% end %>
      <% @optional_gifts.each_with_index do |o_gift, i| %>
        <%= render :partial => "optional_gift", :object => o_gift, :locals => { :f => sg, :checked => (i == 0) } %>
      <% end %>
    <% end %>
  <% end %>
  <p>
    <%= wizardly_image_submit %>
  </p>
<% end %>

<script type='text/javascript'>
  document.getElementById('').focus()
</script>
