

<div class='section' id='page-2'>
  
  <div class='content'>

    <h2>Thanks for subscribing to <%= @publication.try(:name) %> We hope you enjoy it.</h2>

    <h3>Invoice</h3>

    <% if @subscription.pending? %>
      <p class='subscription-description'>Please check your inbox for instructions on how to activate your subscription</p>
    <% else %>
      <p class='subscription-description'><%= link_to("View and print your invoice for your records", url_for(:action => "invoice"), :target => :new) %></p>
    <% end %>

    <!-- Error Messages -->
    
    <h2>Complete your registration</h2>
    
    <% if @publication.try(:weekend_edition?) && !@has_weekender %>
      <h3><%= @publication.try(:name) %> Weekender</h3>
      <p>Have you signed up for <%= @publication.try(:name) %> Weekender yet? It's our weekly arts and culture wrap &mdash; delivered direct to your inbox every Friday morning. You'll love it.</p>
    <% end %>
    
    <% form_for @subscription, :url => complete_path do |form| %>

      <% if @publication.try(:weekend_edition?) && !@has_weekender %>
        <%= check_box_tag :weekender, "1", true %>
        <label for="weekender">Yes &mdash; send me your Weekender</label>
      <% end %>
      
      <h3>Promotional Materials</h3>
      
      <%= form.check_box :solus %>
      <label for="subscription_solus">Tick this box if you want to receive carefully selected offers by email from advertisers screened by <%= @publication.try(:name) %></label>
      
      <div id="">
      <%= image_submit_tag template_image_path('completerego.png'), :disable_with => "Processing...", :id => "btnSubmit" %>
      </div>
      
    <% end %>
      
  </div>
</div>
<div class="clear"></div>
