<div class="title">
  <%= content_tag :h2, "Edit Subscriber Details" %>
  <div class="actions">
    <%= link_to 'Back to Subscriber', admin_subscriber_path(@subscriber), :class => 'back' %>
  </div>
</div>

<div class="grid">
  <div class="frame span_6">
    <% form_for [:admin, @subscriber], :url => admin_subscriber_path(@subscriber), :builder => Reform::Builder, :html => { :class => "form" } do |form| %>
      <%= render :partial => "form", :object => form %>
      <%= form.text_field :login, :label => "Wordpress ID", :help => "Only change this if you know what you're doing" %>
      <%= form.submit "Update" %>
    <% end %>
  </div>
</div>
