
<div class="title">
  <%= content_tag :h2, "Subscriber" %>
  <div class="actions">
    <%= link_to 'Edit', edit_admin_subscriber_path(@subscriber), :class => 'edit' %>
  </div>
</div>

<div class="grid">
  <div class="frame span_4">
    <%= render :partial => "shared/admin/user", :locals => {:user => @subscriber}%>
  </div>
  <div class="frame span_6 last">
    <%= render :partial => "admin/subscriptions/subscriptions", :object => @subscriptions %>
  </div>
  <div class="frame span_10 last">
    <h2>Action History</h2>
    <%= render_table @actions, :name => 'action_history' do |t| 
      t.header :date, :sort_by => :created_at
      t.header :publication
      t.header :amount
      t.header :payment_reference
      t.header :offer_name
      t.header :term
      t.header :source
      t.header :gifts

      t.rows do |row, action, index|
        row.date format_timestamp(action.applied_at)
        row.publication link_to(action.subscription.publication.name, admin_catalogue_publication_path(action.subscription.publication))
        row.amount number_to_currency(action.payment.amount)
        row.payment_reference link_to(action.payment.reference, admin_payment_path(action.payment))
        row.offer_name action.offer_name
        row.term pluralize(action.term_length, "month")
        row.source action.source.try(:name)
        row.gifts action.gifts.size
      end
    end %>
  </div>
</div>

