<HTML>
    <HEAD>
        <TITLE></TITLE>
    </HEAD>
    <BODY style="PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #000000; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px">
        <TABLE border=0 cellSpacing=0 cellPadding=10 width="100%" bgColor=#000000 align=center>
            <TBODY>
                <TR>
                    <TD>
                    <TABLE style="BORDER-BOTTOM: #c7ad58 2px solid; BORDER-RIGHT: #c7ad58 2px solid" border=0 cellSpacing=0 cellPadding=20 width=710 bgColor=#ffffff align=center>
                        <TBODY>
                            <TR>
                                <TD>
                                <TABLE border=0 cellSpacing=0 cellPadding=0 width="100%" align=center>
                                    <TBODY>
                                        <TR>
                                            <TD>
                                            <TABLE border=0 cellSpacing=0 width="100%">
                                                <!-- DAILY MAIL -->
                                                <TBODY>
                                                    <TR>
                                                        <TD width="370"><A href="#"><IMG border=0 alt="The Power Index Logo" src="http://www.thepowerindex.com.au/images/thepowerindexlogo-500.jpg"></A> </TD>
                                                        <td align="right" valign="bottom"><a href="http://www.thepowerindex.com.au/contact-us.html" style="color:#f05523; text-transform: uppercase; font-size: 11px; font-weight: bold; text-decorations: none;">Contact Us</a></td>
                                                    </TR>
                                                    <!-- DAILY MAIL --><!-- ACTIONS -->
                                                    <TR>
                                                        <TD height=10 colSpan=5></TD>
                                                    </TR>
                                                    <TR>
                                                        <TD bgColor=#8b8367 height=10 colSpan=5></TD>
                                                    </TR>
                                                    <!-- END ACTIONS -->
                                                </TBODY>
                                            </TABLE>
                                            <TABLE width="100%">
                                              <TBODY>
                                                    <TR>
                                                        <!-- LEFT COLUMN -->
                                                        <TD class=content vAlign=top width=455><!-- EDITORIAL INTRODUCTION -->
                                                        <TABLE style="WIDTH: 687px; HEIGHT: 325px" border=0 cellSpacing=0 cellPadding=0 width=687>
                                                            <TBODY>
                                                                <TR>
                                                                    <TD style="FONT-FAMILY: Georgia, 'Times New Roman', Times, serif; FONT-SIZE: 14px" vAlign=top><BR>
                                                                      Dear {{ user.fullname }},<BR>
                                                                    <BR>
                                                                    <P>This email confirms that your Crikey subscription has been automatically restarted after being suspended from {{ suspended_from }} to {{ suspended_to }}.<BR>
                                                                    <BR>
                                                                    If you have any queries, don't hesitate to contact us at <A href="mailto:subs@crikey.com.au">subs@crikey.com.au</A> or on 1800 985 502.</P>
                                                                    <P>We hope you are enjoying your subscription to Crikey! </P>
                                                                    <BR>
                                                                    <P>Cheers,<BR>
                                                                    The Crikey Crew.</P>
                                                                    <P><SPAN style="FONT-SIZE: 10px">Your email address is registered as {{ user.email }} - you can unsubscribe <A href="{{ unsubscribe_url }}">here</A></SPAN></P>
                                                                    </TD>
                                                                </TR>
                                                            </TBODY>
                                                        </TABLE>
                                                        <!-- END INTODUCTION --></TD>
                                                        <!-- END LEFT COLUMN --><!-- RIGHT COLUMN --><!-- END RIGHT COLUMN -->
                                                    </TR>
                                                </TBODY>
                                            </TABLE>
                                            </TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                                <TABLE width="100%">
                                    <TBODY>
                                    </TBODY>
                                </TABLE>
                                <!-- CONNECT WITH CRIKEY --><!-- END CONNECT WITH CRIKEY --></TD>
                            </TR>
                        </TBODY>
                    </TABLE>
                    </TD>
                </TR>
                <TR>
                    <TD style="FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #ffffff; FONT-SIZE: 11px" colSpan=5 align=middle><A href="http://www.crikey.com.au/subscribe/"><SPAN style="TEXT-DECORATION: underline"></SPAN></A></TD>
                </TR>
                <TR>
                    <TD>&nbsp;</TD>
                </TR>
            </TBODY>
        </TABLE>
    </BODY>
</HTML>
