<div class="title">
  <%= content_tag :h2, "View Gift" %>
  <div class="actions">
    <%= link_to 'Delete', admin_catalogue_gift_path(@gift), :method => :delete, :confirm => "Are you sure?", :class => "delete" %>
    <%= link_to 'Edit', edit_admin_catalogue_gift_path(@gift), :class => 'edit' %>
    <%= link_to 'Back to Gifts', admin_catalogue_gifts_path, :class => 'back' %>
  </div>
</div>

<div class="grid">
  <div class="frame span_3">
    <%= image_tag(@gift.gift_image.url(:medium)) %> 
  </div>
  <div class="frame span_7 last">
    <dl>
      <dt>Name</dt><dd><%= h(@gift.name) %></dd>
      <dt>Stock on hand</dt><dd><%= @gift.on_hand %></dd>
      <dt>Description</dt><dd><%= h(@gift.description) %></dd>
    </dl>
  </div>
  <div class="frame span_10">
    <h2>Subscriptions</h2>
    <%= render_table @subscription_actions do |t|
      t.header :at
      t.header :ref, :label => "Subscription Ref"
      t.header :publication
      t.header :subscriber
      t.header :subscribed_for

      t.rows do |row, action, index|
        row.at format_timestamp(action.applied_at)
        row.ref link_to(action.subscription.reference, admin_subscription_path(action.subscription))
        row.publication link_to(action.subscription.publication.name, admin_catalogue_publication_path(action.subscription.publication))
        row.subscriber link_to(action.subscription.user.try(:fullname), admin_subscriber_path(action.subscription.user))
        row.subscribed_for pluralize(action.term_length, "month")
      end
    end
  %>
  </div>
</div>
