<body style="font-family: arial; text-align: left;">

	<p style="padding-bottom: 10px"><strong>Dear {{ user.firstname }} {{ user.lastname }}</strong></p>

  {% if squatter %}
		<p style="padding-bottom: 10px">Your subscription has been canceled.</p>
  {% else %}
		<p style="padding-bottom: 10px">Your have recently requested to cancel your subscription to Valegro.</p>
		<p style="padding-bottom: 10px">Please note that we are processing your cancelation and inform you shortly about the result with a separate email.</p>
  {% endif %}

	<p style="padding: 10px 0px 10px 0px"><strong>Your Subscription Details</strong></p>
	<p style="padding-bottom: 5px">Publication Name: {{ publication_name }}</p>

	<p style="padding: 10pt;">
		<strong>Included Gifts:</strong><br/>
    {% for gift in gifts %}
      {{ gift.name }}<br/>
    {% endfor %}
	</p>

	<p style="padding: 10px 0px 10px 0px">
		<strong>Your Address Details:</strong><br/>
		Address 1: {{ user.address_1 }}<br/>
		Address 2: {{ user.address_2 }}<br/>
		City: {{ user.city }}<br/>
		Postcode: {{ user.postcode }}<br/>
		State: {{ user.state }}<br/>
		Country: {{ user.country }}<br/>
	</p>

	<p style="padding: 5px 0px 5px 0px">Please send email through to our subscriptions team at sales@valegro.com.au if you have any problems.</p>

	<p>
		The Valegro Crew<br/>
		<a target='_blank' href="http://www.valegro.com.au/">www.valegro.com.au</a><br/><br/>
	</p>

	<p style="padding: 5px 0px 5px 0px"><strong>Copyright © 2010 Private Media Pty Ltd. All rights reserved</strong></p>
</body>
