<TABLE style="BACKGROUND-COLOR: rgb(204,204,204)" border=0 cellSpacing=0 cellPadding=0 width="100%">
            <TBODY>
                <TR>
                    <TD height=20><SPAN style="FONT-FAMILY: Arial; FONT-SIZE: 16px"><BR>
                    </SPAN></TD>
                </TR>
                <TR>
                    <TD>
                    <TABLE style="BACKGROUND-COLOR: #ffffff" border=0 cellSpacing=0 cellPadding=0 align=center>
                        <TBODY>
                            <TR>
                                <TD height=20 vAlign=top width=20><SPAN style="FONT-FAMILY: Arial; FONT-SIZE: 16px"><BR>
                                </SPAN></TD>
                                <TD height=20 vAlign=top width=450><SPAN style="FONT-FAMILY: Arial; FONT-SIZE: 16px"><BR>
                                </SPAN></TD>
                                <TD height=20 vAlign=top width=20><SPAN style="FONT-FAMILY: Arial; FONT-SIZE: 16px"><BR>
                                </SPAN></TD>
                            </TR>
                            <TR>
                                <TD vAlign=top width=20><SPAN style="FONT-FAMILY: Arial; FONT-SIZE: 16px"><BR>
                                </SPAN></TD>
                                <TD vAlign=top>
                                <TABLE style="BACKGROUND-COLOR: #ffffff; WIDTH: 600px" cellSpacing=0 cellPadding=10>
                                    <TBODY>
                                        <TR>
                                            <TD></TD>
                                        </TR>
                                        <TR>
                                            <TD style="FONT-SIZE: 14px">
                                            <DIV align=left>
                                            <DIV>
                                            <DIV>
                                            <DIV align=left>
                                            <DIV align=left>
                                              <DIV align=left><SPAN style="FONT-FAMILY: Arial; FONT-SIZE: 14px"><SPAN style="FONT-SIZE: 16px">Dear {{ user.firstname }},<BR>
                                            <BR>
                                            Thanks for accepting our 21 day free trial offer,<BR>
                                            <BR>
                                            You now also have full access to the subscriber-only content at the Valegro blog website for the next 21 days </SPAN><A href="http://valegro.subscriptus.com.au"><SPAN style="FONT-SIZE: 16px">Valegro Blog</SPAN></A><SPAN style="FONT-SIZE: 16px">.<BR>
                                            <BR>
                                            Your website login details are as follows:<BR>
                                            <BR>
                                            Login: <STRONG>{{ user.email }}<BR>
                                            </STRONG>Password: <STRONG>{{ password }}</STRONG><BR>
                                            <BR>
                                            We recommend that you enter your registered email address and <A href="http://valegro.subscriptus.com.au/wp-login.php?action=lostpassword"><SPAN style="FONT-SIZE: 16px">reset your password immediately</SPAN></A>, and also set the display name that you'd like us to use&nbsp;if you comment on any articles.<BR>
                                            <BR>
                                            The Valegro team will contact you within 24hours to assist in setting up your Subscriptus trial subscription. Please contact the sales staff at </SPAN><A href="mailto:sales@valegro.com.au"><SPAN style="FONT-SIZE: 16px">sales@valegro.com.au</SPAN></A><SPAN style="FONT-SIZE: 16px"> who will be able to assist with your questions.<BR>
                                            <BR>
                                            We trust that you will enjoy using your Subscriptus system, why not head back to the&nbsp;</SPAN><A href="http://valegro.subscriptus.com.au"><SPAN style="FONT-SIZE: 16px">Valegro Blog</SPAN></A><SPAN style="FONT-SIZE: 16px"> and tell us more about it.<BR>
                                            <BR>
                                            Cheers,<BR>
                                            Valegro Sales</SPAN><BR>
                                            </SPAN></DIV>
                                            </DIV>
                                            </DIV>
                                            </DIV>
                                            </DIV>
                                            </DIV>
                                            </TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                                </TD>
                                <TD vAlign=top width=20><SPAN style="FONT-SIZE: 16px"><BR>
                                </SPAN></TD>
                            </TR>
                            <TR>
                                <TD height=20 vAlign=top width=20><SPAN style="FONT-SIZE: 16px"><BR>
                                </SPAN></TD>
                                <TD height=20 vAlign=top width=450><BR>
                                </TD>
                                <TD height=20 vAlign=top width=20><SPAN style="FONT-SIZE: 16px"><BR>
                                </SPAN></TD>
                            </TR>
                        </TBODY>
                    </TABLE>
                    <P align=center>Your email address is registered as {{ user.email }} - to unsubscribe click <a href = "{{ unsubscribe_url }}">here</a></P>
                    </TD>
                </TR>
                <TR>
                    <TD height=20><SPAN style="FONT-FAMILY: Arial; FONT-SIZE: 16px"><BR>
                    </SPAN></TD>
                </TR>
            </TBODY>
        </TABLE>
