<div class="title">
  <%= content_tag :h2, "View Publication" %>
  <div class="actions">
    <%= link_to 'Delete', admin_catalogue_publication_path(@publication), :method => :delete, :confirm => "Are you sure?", :class => "delete" %>
    <%= link_to 'Edit', edit_admin_catalogue_publication_path(@publication), :class => 'edit' %>
    <%= link_to 'Back to Publications', admin_catalogue_publications_path, :class => 'back' %>
  </div>
</div>

<div class="grid">
  <div class="frame span_3">
    <%= image_tag(@publication.publication_image.url(:medium)) %> 
  </div>
  <div class="frame span_4">
    <h4><%= h(@publication.name) %></h4>
    <p><%= h(@publication.description) %></p>
  </div>
  <div class="frame span_3 last">
    <h4>Subscribers</h4>
    TODO: Active/Inactive(?): counter cache
    <p><%= @publication.subscriptions.count %></p>
  </div>
  <div class="frame span_10">
    <h2>History</h2>
    TODO
  </div>
</div>
