<body style="font-family: arial; text-align: left;">

	<p style="padding-bottom: 10px"><strong>Dear <%= @subscription.user.firstname %> <%= @subscription.user.lastname %></strong></p>
	<p style="padding-bottom: 10px">Thank you for ordering <%= @publication.try(:name) %>.</p>
	<p style="padding-bottom: 5px"><strong>Your Order Details</strong></p>

    <h2>TAX INVOICE</h2>
    <p>
    Subscriptus Pty Ltd<br/>
    ABN 16 147 864 560
    </p>

	<p>
		Supplier: Subscriptus Pty Ltd<br/>
		Order Number: <%= h @subscription.reference %><br/>
		Order Date: <%= @subscription.updated_at.try(:strftime, "%d/%m/%Y") %><br/>
		Payment Method: Credit Card<br/>
    		Payment Cost: <%= number_to_currency @subscription.actions.first.payment.amount, :unit => "AUD $" %> (includes <%= number_to_currency(@subscription.actions.first.payment.amount/11.0) %> GST)<br/>
		(Please note: Valegro Pty Ltd will appear as the transaction detail on your statement)<br/>
	</p>

	<p style="padding: 10px 0px 10px 0px"><strong>Your transaction Details</strong></p>
	<p style="padding-bottom: 5px">Product Name: <%= h @subscription.publication.name %></p>
	<p style="padding-bottom: 5px">
		Subscription Ends: <%= @subscription.expires_at.try(:strftime, "%d/%m/%Y") %>
	</p>

  <% if !@subscription.actions.empty? && !@subscription.actions.first.gifts.blank? %>
    <p style="padding: 10pt;">
      <strong>Included Gifts:</strong><br/>
      <% @subscription.actions.first.gifts.each do |gift| %>
        <%= h gift.name %><br/>
      <% end %>
    </p>
  <% end %>

	<p style="padding: 10px 0px 10px 0px">
		<strong>Your Address Details:</strong><br/>
		Address 1: <%= h @subscription.user.try(:address_1) %><br/>
		Address 2: <%= h @subscription.user.try(:address_2) %><br/>
		City: <%= h @subscription.user.try(:city) %><br/>
		Postcode: <%= h @subscription.user.try(:postcode) %><br/>
		State: <%= h @subscription.user.try(:state) %><br/>
		Country: <%= h @subscription.user.try(:country) %><br/>
	</p>

	<p style="padding: 5px 0px 5px 0px">Please send email through to our sales team at accounts@subscriptus.co if you have any problems.</p>

	<p>    Cheers,<br />
		Team Subscriptus<br/>
		<a target='_blank' href="http://www.subscriptus.co/">www.subscriptus.co</a><br/><br/>
	</p>

	<p style="padding: 5px 0px 5px 0px"><strong>Copyright &copy; <%= Time.now.year %> Subscriptus Pty Ltd. All rights reserved</strong></p>
  <p>Your email address is registered as <%= @user.email %> - you can unsubscribe here: <%= unsubscribe_url(:user_id => @user.id) %></p>
</body>
