<body style="font-family: arial; text-align: left;">

	<p style="padding-bottom: 10px"><strong>Dear <%= @subscription.user.firstname %> <%= @subscription.user.lastname %></strong></p>

	<% if @subscription.state == :squatter %>
		<p style="padding-bottom: 10px">Your subscription has been canceled.</p>
	<% else %>
		<p style="padding-bottom: 10px">Your have recently requested to cancel your subscription to Crikey.</p>
		<p style="padding-bottom: 10px">Please note that we are processing your cancelation and inform you shortly about the result with a separate email.</p>
	<% end %>

	<p style="padding: 10px 0px 10px 0px"><strong>Your Subscription Details</strong></p>
	<p style="padding-bottom: 5px">Publication Name: <%= h @subscription.publication.name %></p>

	<p style="padding: 10pt;">
		<strong>Included Gifts:</strong><br/>
		<% @subscription.offer.gifts.each do |gift| %>
			<%= h gift.name %><br/>
		<% end %>
	</p>

	<p style="padding: 10px 0px 10px 0px">
		<strong>Your Address Details:</strong><br/>
		Address 1: <%= h @subscription.user.try(:address_1) %><br/>
		Address 2: <%= h @subscription.user.try(:address_2) %><br/>
		City: <%= h @subscription.user.try(:city) %><br/>
		Postcode: <%= h @subscription.user.try(:postcode) %><br/>
		State: <%= h @subscription.user.try(:state) %><br/>
		Country: <%= h @subscription.user.try(:country) %><br/>
	</p>

	<p style="padding: 5px 0px 5px 0px">Please send email through to our subscriptions team at subs@crikey.com.au if you have any problems.</p>

	<p>
		The Crikey Crew<br/>
		<a target='_blank' href="http://www.crikey.com.au/">www.crikey.com.au</a><br/><br/>
	</p>

	<p style="padding: 5px 0px 5px 0px"><strong>Copyright © 2010 Private Media Pty Ltd. All rights reserved</strong></p>
</body>
