<TABLE style="BACKGROUND-COLOR: rgb(204,204,204)" border=0 cellSpacing=0 cellPadding=0 width="100%">
            <TBODY>
                <TR>
                    <TD height=20><SPAN style="FONT-FAMILY: Arial; FONT-SIZE: 16px"><BR>
                    </SPAN></TD>
                </TR>
                <TR>
                    <TD>
                    <TABLE style="BACKGROUND-COLOR: #ffffff" border=0 cellSpacing=0 cellPadding=0 align=center>
                        <TBODY>
                            
                            <TR>
                                <TD vAlign=top width=20><SPAN style="FONT-FAMILY: Arial; FONT-SIZE: 16px"><BR>
                                </SPAN></TD>
                                <TD vAlign=top>
                                <TABLE style="BACKGROUND-COLOR: #ffffff; WIDTH: 600px" cellSpacing=0 cellPadding=10>
                                    <TBODY>
                                        <TR>
                                        </TR>
                                        <TR>
                                            <TD style="FONT-SIZE: 14px">
                                            <DIV align=left>
                                            <DIV>
                                            <DIV>
                                            <DIV align=left>
                                            <DIV align=left>
                                              <DIV align=left><SPAN style="FONT-FAMILY: Arial; FONT-SIZE: 14px"><SPAN style="FONT-SIZE: 16px">Dear <%= @user.firstname %>,<BR>
                                            <BR>
                                            Thanks for subscribing to <%= @publication.try(:name) %><BR>
                                            <BR>
                                            You are now a registered trial subscriber of <%= @publication.try(:name) %><BR>

                                            Your subscriber login details are as follows:<BR>
                                            <BR>
                                            Login: <STRONG><%= @user.email %><BR>
                                            
                                            <BR>
                                            We recommend you login and change your password, and also set the display name that you'd like to use.<BR>
                                            <BR>
                                            <BR>
                                                                                        <BR>
                                            Cheers,<BR>
                                            Team Subscriptus</SPAN><BR>
                                            </SPAN></DIV>
                                            </DIV>
                                            </DIV>
                                            </DIV>
                                            </DIV>
                                            </DIV>
                                            </TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                                </TD>
                                <TD vAlign=top width=20><SPAN style="FONT-SIZE: 16px"><BR>
                                </SPAN></TD>
                            </TR>
                            <TR>
                                <TD height=20 vAlign=top width=20><SPAN style="FONT-SIZE: 16px"><BR>
                                </SPAN></TD>
                                <TD height=20 vAlign=top width=450><BR>
                                </TD>
                                <TD height=20 vAlign=top width=20><SPAN style="FONT-SIZE: 16px"><BR>
                                </SPAN></TD>
                            </TR>
                        </TBODY>
                    </TABLE>
                    <P align=center>Your email address is registered as <%= @user.email %>;- to unsubscribe click <%= link_to("here", unsubscribe_url(:user_id => @user.id)) %></P>
                    </TD>
                </TR>
                <TR>
                    <TD height=20><SPAN style="FONT-FAMILY: Arial; FONT-SIZE: 16px"><BR>
                    </SPAN></TD>
                </TR>
            </TBODY>
        </TABLE>
