<HTML>
    <HEAD>
        <TITLE></TITLE>
    </HEAD>
    <BODY style="PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #cccccc; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px">
        <TABLE border=0 cellSpacing=0 cellPadding=10 width="100%" bgColor=#999999 align=center>
            <TBODY>
                <TR>
                    <TD>
                    <TABLE style="BORDER-BOTTOM: #666 2px solid; BORDER-RIGHT: #666 2px solid" border=0 cellSpacing=0 cellPadding=20 width=710 bgColor=#ffffff align=center>
                        <TBODY>
                            <TR>
                                <TD>
                                <TABLE border=0 cellSpacing=0 cellPadding=0 width="100%" align=center>
                                    <TBODY>
                                        <TR>
                                            <TD>
                                            <TABLE border=0 cellSpacing=0 width="100%">
                                                
                                            </TABLE>
                                            <TABLE width="100%">
                                                <TBODY>
                                                    <TR>
                                                        <!-- LEFT COLUMN -->
                                                        <TD class=content vAlign=top width=455><!-- EDITORIAL INTRODUCTION -->
                                                        <TABLE style="WIDTH: 687px; HEIGHT: 425px" border=0 cellSpacing=0 cellPadding=0 width=687>
                                                            <TBODY>
                                                                <TR>
                                                                    <TD style="FONT-FAMILY: Georgia, 'Times New Roman', Times, serif; FONT-SIZE: 14px" vAlign=top><BR>
                                                                      Dear <%= @user.fullname %>,<BR>
                                                                    <BR>
                                                                    <P>This email confirms that your subscription to <%= @publication.try(:name) %> has been activated. </P>
                                                                    <P>You should now have full access to subscriber only content online.</P>
                                                                    <P><STRONG>Here are your website login details:</STRONG><BR>
                                                                    Email address: <%= @user.email %><BR>
                                                                    Forgot Password Link: <%= @subscription.publication.forgot_password_link %></P>
                                                                    <P><STRONG>Your Subscription details:</STRONG> <BR>
                                                                    Subscription starts: <%= @subscription.state_updated_at.strftime("%d/%m/%Y") %><BR>
                                                                    Subscription ends: <%= @subscription.expires_at.strftime("%d/%m/%Y") %></P>
                                                                    <P>If you have any queries about your subscription, don't hesitate to contact us at <A href="mailto:accounts@subscriptus.co">accounts@subscriptus.co</A> or phone on +61 3 9018 5710.</P>
                                                                    
                                                                    <BR>
                                                                    <P>Cheers,<BR>
                                                                    Team Subscriptus</P>
                                                                    <P><SPAN style="FONT-SIZE: 10px">Your email address is registered as <%= @user.email %> - you can unsubscribe <%= link_to("here", unsubscribe_url(:user_id => @user.id)) %></SPAN></P>
                                                                    </TD>
                                                                </TR>
                                                            </TBODY>
                                                        </TABLE>
                                                        <!-- END INTODUCTION --></TD>
                                                        <!-- END LEFT COLUMN --><!-- RIGHT COLUMN --><!-- END RIGHT COLUMN -->
                                                    </TR>
                                                </TBODY>
                                            </TABLE>
                                            </TD>
                                        </TR>
                                    </TBODY>
                                </TABLE>
                                <TABLE width="100%">
                                    <TBODY>
                                    </TBODY>
                                </TABLE>
                                
                            </TR>
                        </TBODY>
                    </TABLE>
                    </TD>
                </TR>
                <TR>
                                    </TR>
                <TR>
                    <TD>&nbsp;</TD>
                </TR>
            </TBODY>
        </TABLE>
    </BODY>
</HTML>



