<%= javascript_include_tag 'form_filters.js' %>
<h2>Search for Subscribers</h2>

<h2>Filters</h2>

<% form_for @search, :html => {:id => 'searchform'} do |f| %>
  <% # TODO: add ['State','state'], ['Renewal Due','renewal'], ['Gift','gift']
  %>
  <%= select_tag('filter_name', options_for_select([ ['',''], ['Name','name'], ['Email','email'], ['Publication','publication'] ])) %>
  <%= link_to_function('Add', 'add_selected_field(); disable_current_option()') %><br/>
  <%= f.submit "Search" %>
  or <%= link_to_function('Reset') %><br/>
<% end %>

<h2>Results</h2>

<p>
  <% if @count.to_i > 0 %>
    Showing <%= @results.offset + 1 %> to <%= @results.offset + @results.size %> of <%= @count %> subscription(s).
  <% else %>
    No subscription found.
  <% end %>
</p>

<%= will_paginate @results %>
<table id="search_results">
  <thead>
    <tr>
      <th>
        <%= order @search, :by => :name %>
      </th>
<<<<<<< HEAD
      <th>Email</th>
=======
      <th>
        <%= order @search, :by => :user_email, :as => 'Email' %>
      </th>
>>>>>>> 2f24bfff8a9d114dad7f55fe142b52d4c823b037
      <th>
        <%= order @search, :by => :publication_id %>
      </th>
      <th>State</th>
      <th>Renewal</th>
      <th>Signed Up</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |result|%>
      <%= render_result_row( result ) %>
    <% end %>
  </tbody>
</table>
<%= will_paginate @results %>

<script type="text/javascript"><!--
  $(document).ready( function() {
      <% if @search.publication_id %> add_field(filter_element_for('publication')); disable_option('publication'); <% end -%>
      <% if @search.user_firstname_or_user_lastname_like %> add_field(filter_element_for('name')); disable_option('name'); <% end -%>
<<<<<<< HEAD
=======
      <% if @search.user_email_like %> add_field(filter_element_for('email')); disable_option('email'); <% end -%>
>>>>>>> 2f24bfff8a9d114dad7f55fe142b52d4c823b037
      <% if @search.state %> add_field(filter_element_for('state')); disable_option('state'); <% end -%>
      <% if @search.renewal %> add_field(filter_element_for('renewal')); disable_option('renewal'); <% end -%>
      <% if @search.gift %> add_field(filter_element_for('gift')); disable_option('gift'); <% end -%>
    }
  );
--></script>

<div style="display:none">
  <div id="name_field">
    <%= label :search, :name %>
    <%= text_field :search, :user_firstname_or_user_lastname_like %>
    <%= link_to_function '[X]', "remove_field($(this).parent()); enable_option('name')", :id => 'remove_name_link' %>
  </div>
<<<<<<< HEAD
=======
  <div id="email_field">
    <%= label :search, :email %>
    <%= text_field :search, :user_email_like %>
    <%= link_to_function '[X]', "remove_field($(this).parent()); enable_option('email')", :id => 'remove_email_link' %>
  </div>
>>>>>>> 2f24bfff8a9d114dad7f55fe142b52d4c823b037
  <div id="state_field">
    <strong>state field</strong>
    <%= link_to_function '[X]', "remove_field($(this).parent()); enable_option('state')", :id => 'remove_state_link' %>
  </div>
  <div id="renewal_field">
    <strong>renewal field</strong>
    <%= link_to_function '[X]', "remove_field($(this).parent()); enable_option('renewal')", :id => 'remove_renewal_link' %>
  </div>
  <div id="publication_field">
    <%= label :search, :publication_id %>
    <%= collection_select :search, :publication_id, Publication.all, :id, :name %>
    <%= link_to_function '[X]', "remove_field($(this).parent()); enable_option('publication')", :id => 'remove_publication_link' %>
  </div>
  <div id="gift_field">
    <strong>gift field</strong>
    <%= link_to_function '[X]', "remove_field($(this).parent()); enable_option('gift')", :id => 'remove_gift_link' %>
  </div>
  <div id="end_of_fields"/>
</div>
