<%= javascript_include_tag 'form_filters.js' %>

<div class="title">
  <%= content_tag :h2, "Subscriber Search" %>
</div>

<h2>Filters</h2>
<% form_for @search, :html => { :id => 'searchform', :class => 'form' }, :builder => Reform::Builder do |f| %>
  <% # TODO: add ['State','state'], ['Renewal Due','renewal'], ['Gift','gift']
  %>
  <div class="field field-text" id="filter_block">
    <div class="field-label">
      <label for="filter_name">Filters</label>
    </div>
    <div class="field-inner">
      <%= select_tag('filter_name', options_for_select([ ['',''], ['Name','name'], ['Email','email'], ['Reference', 'id'],['Publication','publication'] ])) %>
      <%= link_to_function('Add', 'add_selected_field(); disable_current_option()') %><br/>
    </div>
  </div>
  <div class="field field-text">
    <div class="field-label">&nbsp;</div>
    <div class="field-inner">
      <%= submit_tag "Search", :disable_with => "Searching..." %> or <%= link_to_function('Reset', 'reset_form();') %>
    </div>
  </div>
<% end %>

<h2>Results</h2>

<%= render_table @results do |t|
    t.header :reference do
      order @search, :by => :id, :as => 'Reference'
    end
    
    t.header :name do
      order @search, :by => :name
    end
    t.header :email do
      order @search, :by => :user_email, :as => 'Email'
    end
    t.header :publication do
      order @search, :by => :publication_id
    end
    t.header :state, :renewal_due, :signed_up, :actions
    t.rows do |row, result, index|
      row.reference    result.reference
      row.name         link_to(result.user.try(:fullname) || 'No name', admin_subscriber_path(result.user))
      row.email        result.user.try(:email)
      row.publication  result.publication.try(:name)
      row.state        result.state
      row.renewal_due  result.expires_at ? time_ago_in_words(result.expires_at) : ''
      row.signed_up    result.created_at.try(:strftime, "%d/%m/%Y")
      row.actions do
        case 
        when result.active?
          link_to 'Suspend', suspend_admin_subscription_path(result)
        when result.suspended?
          link_to 'Unsuspend', unsuspend_admin_subscription_path(result), :method => :post
        end
      end
    end
  end
%>  

<script type="text/javascript"><!--
  $(document).ready( function() {
      <% if @search.id %> add_field(filter_element_for('id')); disable_option('id'); <% end -%>    
      <% if @search.publication_id %> add_field(filter_element_for('publication')); disable_option('publication'); <% end -%>
      <% if @search.user_firstname_or_user_lastname_like %> add_field(filter_element_for('name')); disable_option('name'); <% end -%>
      <% if @search.user_email_like %> add_field(filter_element_for('email')); disable_option('email'); <% end -%>
      <% if @search.state %> add_field(filter_element_for('state')); disable_option('state'); <% end -%>
      <% if @search.renewal %> add_field(filter_element_for('renewal')); disable_option('renewal'); <% end -%>
      <% if @search.gift %> add_field(filter_element_for('gift')); disable_option('gift'); <% end -%>
    }
  );
--></script>

<div style="display:none">
  <div id="id_field">
    <div class="field field-text">
      <div class="field-label">
        <%= label :search, :id, 'Reference' %>
      </div>
      <div class="field-inner">
        <%= text_field :search, :id, :value => Subscription.format_reference(@search.id) %>
        <%= link_to_function '[X]', "remove_field($('#id_field')); enable_option('id')", :id => 'remove_name_link' %>
      </div>
    </div>
  </div>
  
  <div id="name_field">
    <div class="field field-text">
      <div class="field-label">
        <%= label :search, :name %>
      </div>
      <div class="field-inner">
        <%= text_field :search, :user_firstname_or_user_lastname_like %>
        <%= link_to_function '[X]', "remove_field($('#name_field')); enable_option('name')", :id => 'remove_name_link' %>
      </div>
    </div>
  </div>
  <div id="email_field">
    <div class="field field-text">
      <div class="field-label">
        <%= label :search, :email %>
      </div>
      <div class="field-inner">
        <%= text_field :search, :user_email_like %>
        <%= link_to_function '[X]', "remove_field($('#email_field')); enable_option('email')", :id => 'remove_email_link' %>
      </div>
    </div>
  </div>
  <div id="state_field">
    <strong>state field</strong>
    <%= link_to_function '[X]', "remove_field($('#state_field')); enable_option('state')", :id => 'remove_state_link' %>
  </div>
  <div id="renewal_field">
    <strong>renewal field</strong>
    <%= link_to_function '[X]', "remove_field($('#renewal_field')); enable_option('renewal')", :id => 'remove_renewal_link' %>
  </div>
  <div id="publication_field">
    <div class="field field-text">
      <div class="field-label">
        <%= label :search, :publication_id %>
      </div>
      <div class="field-inner">
        <%= collection_select :search, :publication_id, Publication.all, :id, :name %>
        <%= link_to_function '[X]', "remove_field($('#publication_field')); enable_option('publication')", :id => 'remove_publication_link' %>
      </div>
    </div>
  </div>
  <div id="gift_field">
    <strong>gift field</strong>
    <%= link_to_function '[X]', "remove_field($(this).parent()); enable_option('gift')", :id => 'remove_gift_link' %>
  </div>
  <div id="end_of_fields"/>
</div>
