<div class="title">
  <%= content_tag :h2, @subscription.reference %>
  <div class="actions">
    <%= link_to 'Renew', new_renew_path(:for => @subscription.user_id) %>
    <%= link_to_remote 'Set Expiry Date', { :url => set_expiry_admin_subscription_path(@subscription), :method => :get }, { :class => 'set-expiry' } %>
  </div>
</div>

<div class="grid">
  <div class="frame span_3">
    <dl>
      <dt>Subscriber</dt><dd><%= link_to(@subscription.user.name, admin_subscriber_url(@subscription.user)) %></dd>
      <dt>Current State</dt><dd><%= @subscription.state.capitalize %></dd>
      <dt>Started</dt><dd><%= format_timestamp(@subscription.created_at) %></dd>
      <dt>Current Offer</dt><dd><%= @subscription.offer ? link_to(@subscription.offer.name, admin_catalogue_offer_url(@subscription.offer)) : '-' %></dd>
      <dt>Expires</dt><dd><%= format_timestamp(@subscription.expires_at) %></dd>
      <dt>Publication</dt><dd><%= link_to(@subscription.publication.name, admin_catalogue_publication_url(@subscription.publication)) %></dd>
    </dl>
  </div>
  <div class="frame span_10">
    <h2>Activity</h2>
    <h3>TODO: Show ACTIONS</h3>
    <%= render :partial => "admin/subscriptions/activity", :object => @log_entries %>
  </div>
</div>
