<% if flash[:notice] %>
  <% content_tag :span, :style => "color: red" do %>
    <%= flash[:notice] %>
  <% end %>
<% end %>

<% form_for(@user_session, :url => user_session_path, :html => { :class => "form" }) do |f| %>
  <div id="field_user_session_login" class="field field-text " style="">
    <div class="field-label">
      <%= f.label :login, "Email" %>
    </div>
    <div class="field-inner ">
      <%= f.text_field :login %>
    </div>
  </div>
  <div id="field_user_session_password" class="field field-text " style="">
    <div class="field-label">
      <%= f.label :password, "Password" %>
    </div>
    <div class="field-inner ">
      <%= f.password_field :password %>
    </div>
  </div>
  <div id="field_user_session_remember_me" class="field field-check-box " style="">
    <div class="field-label">
      <%= f.label :remember_me, "Remember me" %>
    </div>
    <div class="field-inner ">
      <%= f.check_box :remember_me %>
    </div>
  </div>
  <div id="field_user_session_submit" class="field field-submit " style="">
    <div class="field-label "></div>
    <div class="field-inner">
      <%= image_submit_tag "login.png", :id => "submit" %>
    </div>
    <div id="forgot_password_link">
      <a href="/password_resets/new">Forgot password?</a>
    </div>
  </div>
<% end %>
