<div class="title">
  <%= content_tag :h2, "Create New Offer" %>
  <div class="actions">
    <%= link_to 'Back to Offers', admin_catalogue_offers_path, :class => 'back' %>
  </div>
</div>

<% form_for [:admin, :catalogue, @offer], :builder => Reform::Builder, :html => { :class => "form" } do |form| %>
  <%= form.error_messages %>
  <%= render :partial => "form", :object => form %>
  <% form.fields_for :offer_terms do |term| %>
    <h2>Offer Term</h2>
    <p>The basic term of this offer - you can add more options later.</p>
    <%= term.text_field :price %>
    <%= term.text_field :months, :size => 5 %>
  <% end %>
  <%= form.submit "Create" %>
<% end %>
