<div class="title">
  <%= content_tag :h2, "View Offer" %>
  <div class="actions">
    <%= link_to 'Delete', admin_catalogue_offer_path(@offer), :method => :delete, :confirm => "Are you sure?", :class => "delete" %>
    <%= link_to 'Promote', "#", :id => "generate_offer_link", :class => 'promote' %>
    <%= link_to 'Edit', edit_admin_catalogue_offer_path(@offer), :class => 'edit' %>
    <%= link_to 'Back to Offers', admin_catalogue_offers_path, :class => 'back' %>
  </div>
</div>

<div class="grid">
  <div class="frame span_3">
    <h2>Offer Details</h2>
    <ul>
      <li><strong>Name</strong>: <%= h(@offer.name) %></h2>
      <li><strong>Publication</strong>: <%= @offer.publication.name %></li>
      <li><strong>Expires</strong>: <%= @offer.expires %></li>
      <li><strong>Auto-renews</strong>: <%= @offer.auto_renews %></li>
    </ul>
  </div>
  <div class="frame span_3">
    <h2>Term Options</h2>
    <a href="#" id="add_term_option">Add term option</a>
    <ul id="offer_terms">
      <%= render :partial => "admin/catalogue/offer_terms/offer_term", :collection => @offer.offer_terms %>
    </ul>
  </div>
  <div class="frame span_4 last">
    <h2>Gift Options</h2>
    <a href="#" id="add_gift">Add Gift</a>
    <div id="offered_gifts">
      <%= render :partial => "gifts", :object => @offer.gifts %>
    </div>
  </div>
</div>

<div id="gifts_dialog" style="display:none" title="Add Gift">
  <%= render_table @gifts, :template => "shared/tables/no_header" do |t|
    t.header :image, :width => "100"
    t.header :name

    t.rows do |row, gift, index|
      row.image link_to(image_tag(gift.gift_image.url(:thumb)), admin_catalogue_gift_url(gift))
      row.name do
        str = content_tag(:h4, h(gift.name))
        str << content_tag(:ul, content_tag(:li, link_to("Include this gift", add_gift_admin_catalogue_offer_url(@offer), :class => "gift_choice", :gift_id => gift.id)) + content_tag(:li, link_to("Add as an option", add_gift_admin_catalogue_offer_url(@offer), :class => "gift_choice", :gift_id => gift.id, :gift_optional => true)))
        str
      end
    end
  end %>
</div>

<div id="term_option_dialog" style="display:none" title="Add Offer Term Option">
  <% form_for [ :admin, :catalogue, @offer, @offer_term ] do |f| %>
    <%= f.select :months, OfferTerm::TERM_OPTIONS.map { |t| [ pluralize(t, 'month'), t ] }, :label => "Term" %>
    for $<%= f.text_field :price %>
  <% end %>
</div>

<div id="offer_link_dialog" style="display:none" title="Promote Offer">
  <p>Generate Link to this Offer</p>
  <label for="source_select">Source</label>
  <%= select_tag "Source", options_for_select(@sources), :id => "source_select" %>
  <p>Copy and paste this link into an email or add to a webpage.</p>
  <%= text_area_tag "Link", "", :cols => 40, :rows => 2, :id => "offer_link" %>
</div>

<script language="javascript">
  $(document).ready(function() {
    $('#gifts_dialog').dialog({
      autoOpen: false,
      width: 400,
      modal: true,
      buttons: {
        'Cancel' : function() {
          $(this).dialog('close');
        }
      }
    });

    $('#term_option_dialog').dialog({
      autoOpen: false,
      width: 400,
      modal: true,
      buttons: {
        'Create' : function() {
          rform = $("#new_offer_term");
          $.ajax({
            url: rform.attr('action'),
            type: "POST",
            data: rform.serialize(),
            dataType: "script"
          });
        },
        'Cancel' : function() {
          $(this).dialog('close');
        }
      }
    });

    $('#offer_link_dialog').dialog({
      autoOpen: false,
      width: 400,
      modal: true,
      buttons: {
        'Cancel' : function() {
          $(this).dialog('close');
        }
      }
    });

    $('#generate_offer_link').click(function() {
      $('#offer_link_dialog').dialog('open');
      $('#offer_link').val(Offer.generate_link(<%= @offer.id %>, $('#source_select').val()));
      $('#offer_link').focus();
      $('#offer_link').select();
    });

    $('#source_select').change(function() {
      $('#offer_link').val(Offer.generate_link(<%= @offer.id %>, $(this).val()));
      $('#offer_link').focus();
      $('#offer_link').select();
    });

    $('#add_gift').click(function() {
      $('#gifts_dialog').dialog('open');
    });

    $('#add_term_option').click(function() {
      $('#term_option_dialog').dialog('open');
    });

    $('.gift_choice').live('click', function(e) {
      args = {
        gift_id: $(this).attr('gift_id'),
        optional: $(this).attr('gift_optional')
      };
      $.post($(this).attr('href'), args);
      e.preventDefault();
      return false;
    });

    $('.gift_remove').live('click', function(e) {
      args = { gift_id: $(this).attr('gift_id') };
      $.post($(this).attr('href'), args);
      e.preventDefault();
      return false;
    });
  });
</script>

