<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Subscriptus Administration: Crikey</title>
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.4.2.min.js", "jquery-ui-1.8.2.custom.min.js" %>
	<%= stylesheet_link_tag 'admin/application', 'admin/scaffold', "ui-lightness/jquery-ui-1.8.2.custom.css" %>
</head>

<body>
  <div class="wrapper">
    <div id="header">
      <h1>Subscriptus Administration</h1>
      <div id="navigation">
        <ul class="upper">
          <li><%= link_to('Offers', admin_offers_path) %></li>
          <li><%= link_to('Gifts', admin_gifts_path) %></li>
        </ul>
        <ul class="lower">
          <%= yield :lower %>
        </ul>
      </div>
    </div>
    <div id="content">
      <p style="color: green"><%= flash[:notice] %></p>
      <%= yield %>
    </div>
  </div>
</body>
</html>
