<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Subscriptus Administration: Crikey</title>
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.4.2.min.js", "jquery-ui-1.8.2.custom.min.js", "application.js" %>
	<%= stylesheet_link_tag 'admin/application', 'admin/scaffold', "ui-lightness/jquery-ui-1.8.2.custom.css" %>
</head>

<body>
  <div class="wrapper">
    <div id="header">
      <h1>Subscriptus Administration</h1>
      <div id="navigation">
        <% semantic_navigation :main, :html => { :class => "upper" } do |n| %>
          <%= n.item 'Subscriptions', :link => admin_subscriptions_path, :highlights_on => [{:controller => "admin/subscriptions"}, {:controller => "admin/subscribers"}] %>
          <%= n.item 'Catalogue', :link => admin_catalogue_publications_path, :highlights_on => [proc { params[:controller] =~ /^admin\/catalogue/ ? true : false }] %>
          <%= n.item 'Sources', :link => admin_sources_path %>
          <%= n.item 'Payments', :link => admin_payments_path %>
          <%= n.item 'System', :link => admin_system_users_path, :highlights_on => [proc { params[:controller] =~ /^admin\/system/ ? true : false }] %>
        <% end %>
        <ul class="lower">
          <%= yield :lower %>
        </ul>
      </div>
    </div>
    <div id="content">
      <% if flash[:notice] %>
        <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; margin-bottom: 20px; padding: 0 .7em;">
          <p>
            <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
            <span><%= flash[:notice] %></span>
          </p>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
